/* ============================================= */
 /* Variables */
 /* ============================================= */

 $color-primary: #58e1c1;
 $color-secondary: #63cc82;
 $error: #ec0b1d;
 $red: #972020;
 $purple: #9567f1;
 $grey: #777;
 $white: #fff;

 $breakpoint: 768px;